<footer class="pie">
    <div class="info">
      <h3>Contacto</h3>
      <ul>
        <li>+56912345678</li>
        <li>info@eventgo.cl</li>
        <li>Beaucheff 938, santiago region metropolitana</li>
      </ul>
    </div>
    <div class="info">
      <h3>Redes sociales</h3>
      <ul>
        <li>
          <a href="https://instagram.com" class="links" target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a href="https://facebook.com" class="links" target="_blank"
            >Facebook</a
          >
        </li>
        <li>
          <a href="https://linkedin.com" class="links" target="_blank"
            >Linkedin</a
          >
        </li>
      </ul>
    </div>
    <div class="info">
      <form action="">
        <label class="newslatter-label" for="newslatter">Newsletter</label>
        <div class="newsletter-input">
          <input type="text" id="newslatter" name="newslatter" placeholder="Correo" />
        </div>
        <button class="newsletter-button">Suscribirse</button>
      </form>
    </div>
  </footer>