<header>
    <img src="img/logo.webp" alt="Logo empresa" />
    <nav>
      <a href="/">Inicio</a>
      <a href="#">Eventos</a>
      <a href="/iniciar-sesion">Iniciar sesión</a>
      <a href="/registrarse">Crear cuenta</a>
      <a href="/sobre-nosotros">Sobre nosotros</a>
    </nav>
  </header>
