<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/fonts/font.css" />
    <link rel="stylesheet" href="/css/about-us.css" />
  </head>
  <body>
    
    <%- include("partials/header") %>

    <!--main-->

    <main>
      <div class="titulo">
        <h1>Sobre nosotros</h1>
      </div>

      <div class="parrafos">
        <div class="parrafo">
          <p class="informacion">
            En EventGo, creemos que la organización y asistencia a eventos debe
            ser simple, rápida y accesible para todos. Nuestra plataforma está
            diseñada para facilitar la inscripción a eventos de manera
            intuitiva, permitiéndote registrarte en segundos y recibir toda la
            información que necesitas en un solo lugar.
          </p>
          <img
            class="foto1"
            src="/img/about-us1.webp"
            alt="Foto de evento"
          />
        </div>

        <div class="parrafo">
          <p class="informacion">
            Nos enfocamos en brindar una experiencia fluida tanto para
            organizadores como para asistentes, ofreciendo herramientas
            eficientes para la gestión de inscripciones, confirmaciones y
            recordatorios.
          </p>
          <img class="foto2" src="img/about-us2.webp" alt="Foto del evento 2">
        </div>

        <div class="parrafo">
          <p class="informacion">
            Ya sea que busques participar en conferencias, talleres, conciertos
            o cualquier otro evento, en EventGo estamos aquí para hacer que el
            proceso sea más fácil y emocionante.
          </p>
          <img src="img/about-us3.webp" alt="Foto de entrada">
        </div>
      </div>
    </main>

    <%- include("partials/footer") %>
  </body>
</html>
