<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EventGo</title>
    <link rel="stylesheet" href="/css/header.css" type="text/css" />
    <link rel="stylesheet" href="/css/footer.css" type="text/css" />
    <link rel="stylesheet" href="/fonts/font.css" type="text/css" />
    
  </head>
  <body>

    <%- include("partials/header") %>

    <main>
        <h1>Bienvenido a EventGo</h1>
        <p>Encuentra y regístrate en eventos fácilmente.</p>
    </main>
    
    <%- include("partials/footer") %>
  </body>
</html>
