<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/form.css" type="text/css" />
    <link rel="stylesheet" href="/fonts/font.css" />
    <link rel="stylesheet" href="/css/header.css" type="text/css" />
    <link rel="stylesheet" href="/css/footer.css" type="text/css" />
    <script type="text/javascript" src="/js/log-in.js"></script>
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <div class="content">
      <form class="form-content" id="formLogIn" action="">

        <h2 class="title">Iniciar sesión</h2>

        <label for="usercorreo" class="form-label">Ingrese su correo</label>
        <input type="email" id="usercorreo" name="usercorreo" class="form-input" placeholder="correo@correo.cl" />

        <label for="userpass" class="form-label">Ingrese su contraseña</label>
        <input type="password" id="userpass" name="userpass" class="form-input" placeholder="contraseña" />
        <div id="msgFallo"></div>

        <div class="div-button">
          <input type="submit" value="Iniciar sesión" class="form-button">
        </div>

        <a href="/recuperar" class="log">Recuperar contraseña</a>
        <a href="/registrarse" class="log">registrarse</a>
      </form>
    </div>


    <%- include("partials/footer.ejs") %>
  </body>
</html>
