<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="../public/css/form.css" />
    <link rel="stylesheet" href="../public/fonts/font.css" />
  </head>
  <body>
    <form class="form-content" action="">
      <h2 class="titule">Iniciar sesión</h2>
      <label for="user-correo" class="form-label">Ingrese su correo</label>
      <input type="email" class="form-input" placeholder="correo@correo.cl" />
      <label for="user-pass" class="form-label">Ingrese su contraseña</label>
      <input type="password" class="form-input" placeholder="contraseña" />
      <a href="#" class="log">Recuperar contraseña</a>
      <a href="register.html" class="log">Crear cuenta</a>
      <div class="div-button">
        <button class="form-button">Iniciar sesión</button>
      </div>
    </form>
  </body>b
</html>
