<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
</head>
<body>
    <form action="">
        <label for="user-correo">Ingrese su correo</label>
        <input type="email">
        <label for="user-pass">Ingrese su contraseña</label>
        <input type="password">
        <a href="#">Recuperar contraseña</a>
        <a href="register.html">Crear cuenta</a>
    </form>
</body>
</html>