<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="../public/css/form.css" />
  </head>
  <body>
    <form class="form-content" action="">
        <h2 class="title">Recuperar contraseña</h2>
        <label class="form-label" for="correo">Ingrese su correo</label>
        <input
          class="form-input"
          type="email"
          placeholder="correo@correo.com"
        />
      <a href="log-in.html" class="log">Ya tienes cuenta</a>
      <a href="register.html" class="log">No tiene cuenta</a>
      <button class="form-button">Recuperar contraseña</button>
    </form>
  </body>
</html>
