<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="fonts/font.css">
</head>
<body>

    <%- include("partials/header") %>
    
    <div class="content">

        <form class="form-content" action="" enctype="multipart/form-data" method="post">
            <h2 class="title">Crea una cuenta</h2>
            <label class="form-label" for="nombre">Ingrese su nombre</label>
            <input class="form-input" type="text" name="nombre" id="nombre" placeholder="Rocio Belen">
            <label class="form-label" for="apellido">Ingrese su apellido</label>
            <input class="form-input" type="text" name="apellido" id="apellido" placeholder="Moreno Cerda">
            <label class="form-label" for="rut">Ingrese su rut</label>
            <input class="form-input" type="number" name="rut" id="rut" placeholder="11.111.111-1">
            <label class="form-label" for="correo">Ingrese su correo</label>
            <input class="form-input" type="email" name="correo" id="correo" placeholder="correo@correo@gmail.com">
            <label class="form-label" for="contra">Ingrese su contrase単a</label>
            <input class="form-input" type="password" name="contra" id="contra" placeholder="contrase単a">
            <label class="form-label" for="contra2">Confirme su contrase単a</label>
            <input class="form-input" type="password" name="contra2" id="contra2" placeholder="repetir contrase単a">
            <div class="div-button">
                <button class="form-button">Registrarse</button>
            </div>
            <a class="log" href="/iniciar-sesion">Ya tienes cuenta</a>
        </form>
    </div>
        
    <%- include("partials/footer") %>
</body>
</html>