* {
    margin: 0;
    padding: 0;
    font-family: ChakraPetch;
}

.titulo {
    font-size: 1.1em;
}

.titulo h1 {
    text-align: center;
    font-size: 3em;
    margin: 0.5em;
}

.parrafo {
    font-size: 1em;
    margin: 30px 50px;
    padding: 15px 10px;
    border-radius: 25px;
    box-shadow: 0 0 20px #292727;
    display: flex;
}

.parrafo p {
    text-align: center;
}

.parrafo img {
    width: 25em;
    border-radius: 20px;
}

.foto1 {
    width: 18em !important;
}

.foto2 {
    width: 18em !important;
}

.informacion {
    font-size: 1.6em;
    align-content: center;
    margin: 0 20px;
}