* {
    margin: 0;
    padding: 0;
    font-family: ChakraPetch;
    box-sizing: border-box;
}

.pie {
    display: flex;
    background: rgb(0, 174, 255);
    position: relative;
    bottom: 0;
    color: white;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.pie h3, label {
    padding: 5px;
    font-size: 1.2em;
}

.links {
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 10px;
}

.info {
    margin: 20px 0;
}

.info ul {
    padding: 6px;
    list-style: none;
}

.links:hover {
    color: #004f8f;
}

.newslatter-label {
    letter-spacing: 2px;
}

.newsletter-input {
    margin-bottom: 10px;
}

.newsletter-input input {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}

.newsletter-button {
    padding: 5px;
    border-radius: 5px;
    letter-spacing: 2px;
    color: #ffffff;
    background: rgb(0, 174, 255);
}