* {
    font-family: ChakraPetch;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E3F2FD;
    background: linear-gradient(#97eaf8 #22cccc);
}

.content {
    height: 74.5vh;
    align-content: center;
}

.title {
    margin-bottom: 20px;
    padding: 0 70px;
    text-align: center;
}

.form-content {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border: #2196F3 solid 5px;
    border-radius: 20px;
    padding: 20px;
    justify-self: center;
}

.form-input {
    height: 25px;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px 15px;
}

.form-label {
    font-size: 15px;
}

.log {
    text-decoration: none;
    width: fit-content;
    color: #2196F3;
}

.log:hover {
    text-decoration: underline;
}

.div-button {
    text-align: center;
}

.form-button {
    background-color: #64B5F6;
    margin: 20px;
    border-radius: 20px;
    padding: 25px 20px;

}

.form-button:hover {
    background-color: #2196F3;
}