* {
    margin: 0;
    padding: 0;
    font-family: ChakraPetch;
}

.foto-inicio {
    background: url("/img/fachada.webp");
    width: 100%;
    height: 74.5vh;
    background-size: cover;
    background-attachment: fixed;
}

.opaco {
    background: rgba(0, 0, 0, 0.164);
    width: 100%;
    height: 100%;
}


h2, p {
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    padding-top: 2rem;
    text-align: center;
}
h2 {
    font-size: 8em;
}

p {
    font-size: 2em;
}